$color_sponsorship_aisle:#c42090;
$color_sponsorship_aisle_dark:#631049;

$color_prime_a:#73D39E;
$color_prime_a_dark:#2D8E58;

$color_prime_b:#fabf8e;
$color_prime_b_dark:#D76609;

$color_prime_c:#6fcaf2;
$color_prime_c_dark:#1186B8;

$color_standard:#f8f49c;
$color_standard:#f8f49c;

p{
  line-height: 32px;
}
ul{
  li{
    line-height: 32px;
    margin-bottom:10px;
  }
}

.main{
  &.style-2{
    background: #fff;

    .main-wrapper{
      padding:0;
      margin-bottom:0;
    }

    .header{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background: transparent;
      border:0;

      &:before{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        content: "";
      background: linear-gradient(180deg, rgb(0 0 0 / 97%) 0%, rgba(0, 128, 128, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#008080', GradientType=0);
        z-index: 1;
        height: 200%;
      }

      &-wrapper{
        position: relative;
        z-index: 999;
      }

      .nav-link{
        color:#fff;
      }
    }

    .main-banner{
      position: relative;
      padding-bottom:0;
      max-height:450px;
      overflow: hidden;
      img{
        width:100%;
      }
      &-content{
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: flex-end;

        &-wrapper{
          color: #fff;
          font-size: 20px;
          text-shadow: 2px 2px #00000075;
          padding-bottom: 20px;
          background: #000000a6;
          padding-top: 20px;
          width:100%;
        }

        .banner-title{
          font-size: 2em;
          text-transform: uppercase;
          font-weight:700;
          color:#fff;
          text-shadow:2px 2px rgba(0, 0, 0, 0.31);
        }

        p{
          margin-bottom:6px;
        }
      }
    }

    .form{
      &-row{
        &-booth{
          @media (min-width:768px){
            padding:0 50px;
          }
        }

        &-terms{
          padding:0 20px;

          .form-fields-wrapper{
            max-height: 300px;
            overflow: auto;
          }

          &.active{
            .form-fields-wrapper{
              max-height: none;
              overflow: auto;
            }
          }

          @media (min-width:1200px){
            padding:0 50px;
            .form-fields-wrapper{
              max-width:1000px;
              margin:0 auto;
            }
            .form-row-foot{
              .checkbox-wrapper{
                max-width:1000px;
                margin:0 auto;
                background-color: transparent;
                padding: 0;
                border:0;
              }
            }
          }
        }

        &-head{
          &-inner{
            display: block;
          }
        }
      }
    }


    .ticket{
      &-map{
        //overflow: auto;
        position: relative;
        overflow: auto;
        //width: 95%;

        .btn{
          border: 1px solid #202020;
          padding: 0.6em;
          border-radius: 0;
          //border-bottom: 0;
          font-size: 0.8em;
          z-index: 9;
          position: relative;
          padding: 0;
          //width: 3em;
          //height: 3em;
          width:40px;
          height:40px;
        }

        .btn-gap{
          width: 40px;
          display: inline-block;
          //height: 3em;
        }

        &-left{
          //margin:0 auto;
          padding-left:0;
        }

        &-right{
          .btn{
            &-holder{
              .fire-exits{
                position: absolute;
                top:6px;
                left:-10px;
                &.after-11th-row{
                  top:4px;
                }
                &.bottom-row{
                  top:unset;
                  bottom:-14px;
                }
              }

              .row-1{
                padding-bottom:15px;
              }
            }
          }


        }

        &-row{
          display: flex;
          flex-wrap:wrap;
          align-items: flex-end;
          &-wrapper{
            //width:2400px;
            min-width: 2600px;
            padding:45px 30px 30px;
            display: flex;
            align-items: flex-end;
            cursor: e-resize;
          }

          &.ground{

          }

          &.empty{
            height:2.2em;
          }

          .btn{
            border-right:0;
            &.on-edge{
              border-right:1px solid #202020;
            }
          }
        }

        &-column{
          //flex:1;
          padding-left:20px;
          padding-right:20px;
          display: flex;
          position: relative;

          &-col{
            .btn-holder{
              &:last-child{
                .btn{
                  border-bottom:1px solid #202020;
                }
              }
            }

            &:first-child{
              .btn-holder{
                .btn{
                  border-right:0;
                }
              }

            }
          }

          .utility-block{
            width: 1em;
            height: 0.6em;
            background: #202020;
            display: inline-block;
            position: absolute;
            bottom:1.2em;
            left:50%;
            transform:translateX(-50%);
            &-2{
              bottom:7.8em;
            }
            &-3{
              bottom:14.2em;
            }
          }

          &.with-utility{
            .ticket-map-column-col{
              &:not(:last-child){
                margin-right:10px;
              }

              &:first-child{
                border-right:1px solid #202020;
              }
            }
          }
        }

        @media (min-width:1200px){
          overflow: hidden;
          &-left{
            padding-left:100px;
          }
        }
      }
    }

    .btn{
      &-holder{
        position: relative;
        .fire-exits{
          position: absolute;
          top:0;
          left:-10px;
          &.after-11th-row{
            top:4px;
          }
          &.bottom-row{
            top:unset;
            bottom:-14px;
          }
        }
      }

    }

    @media (min-width:768px){
      .main-wrapper{
        padding:0;

      }
      .confirm-modal{
        .btn{
          padding:16px 30px;
        }
      }

    }
  }
}

.btn{
  &-prime{
    &-a{
      background: #73D39E;
      color:#202020;
      &.booth-selected{
        //background: #2D8E58;
        //color:#fff;
      }
      &:active,&:focus{
        background: #2D8E58;
        color:#fff;
      }
    }
    &-b{
      background: #fabf8e;
      color:#202020;
      &.booth-selected,&:active,&:focus{
        //background: #D76609;
        //color:#fff;
      }
    }
    &-c{
      background:#6fcaf2;
      color:#202020;
      &.booth-selected,&:active,&:focus{
        //background: #1186B8;
        //color:#fff;
      }
    }
  }
  &-standard{
    background: #f8f49c;
    color:#202020;

    &.booth-selected,&:active,&:focus{
      //background: #878009;
      //color:#fff;
    }
  }
  &-sponsorship-aisle{
    background: #c42090;
    color:#fff;
    &.booth-selected,&:active,&:focus{
      //background: #631049;
      //color:#fff;
    }
  }

  &.booth-selected{
    background: #d02d3d;
    color: #fff;
    box-shadow: inset 0 0 4px #6b2f34;
    cursor:not-allowed;
    position: relative;
    &:after{
      content: "";
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #4caf50;
      position: absolute;
      top: 2px;
      right: 2px;
    }
  }

  &.sold-out{
    background: #808080;
    opacity: 0.8;
    color: #e7e7e7;
    box-shadow:inset 0 0 4px #6b2f34;
    //pointer-events: none;
    cursor: not-allowed;
    position: relative;
    &:after{
      content: "";
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #c92115;
      position: absolute;
      top: 2px;
      right: 2px;
    }
  }

  &-gap{
    color:transparent;
    background: transparent;
    border:none;
    box-shadow:none;
    visibility: hidden;
  }
}

.column-gap{
  width:10px;
  display: inline-block;
  visibility: hidden;
}

.ticket-column-gap{
  width:80px;
}


.after-booth-selection{
  display: none;
}

.btn.btn-change-booth{
  background: transparent;
  border:0;
  padding:0;
  font-weight: 600;
  box-shadow:none;
  text-decoration: underline;
}

.booth{
  &-type{
    &-holder{
      border-bottom: 1px solid #ddd;
      padding-bottom: 15px;
      margin-bottom: 20px;
    }
  }

  &-number{
    span{
      font-size: 1.3em;
      padding: 13px 35px;
      border: 1px solid #202020;
      line-height: 1;
      display: inline-block;
    }

  }

  &-name{
    .btn{
      padding: 2px 30px;
      border-radius: 0;
      box-shadow: none;
      border: 1px solid #202020;
    }
  }

  &-holder{
    span{
      font-size: 1.3em;
      padding: 13px 35px;
      border: 1px solid #202020;
      line-height: 1;
      display: inline-block;
    }
  }

  &-color{
    position: absolute;
    top: 10px;
    left: 15px;
    background: #fff;
    padding: 0px;
    border-radius: 12px;
    border: 1px solid #8b8b8b;
    &-title{

    }
    &-row{
      .table{
        //max-width:400px;
        td,th{
          font-size: 13px;
          line-height: 1;
          vertical-align: middle;
          padding: 5px 5px 11px;

          @media (min-width:768px){
            font-size: 15px;
          }
        }
      }
    }

    @media (min-width:768px){
      padding:10px;
    }
  }

  &-details{
    .booth-type-holder{
      border-bottom: 0;
      padding-bottom: 0;
      margin-bottom: 0;
    }

  }
}

.color-box{
display: inline-block;
width: 15px;
height: 15px;
border: 1px solid #202020;
position: relative;
top: 2px;
&.sponsorship-aisle{
background-color: $color_sponsorship_aisle;
}
&.prime-a{
background-color: $color_prime_a;
}
&.prime-b{
background-color: $color_prime_b;
}
&.prime-c{
background-color: $color_prime_c;
}
&.standard{
background-color: $color_standard;
}

  &.reserved{
    background-color:#d02d3d;
  }
  &.booked{
    background-color: #808080;
  }

  @media (min-width:768px){
    top:4px;
    width:20px;
    height:20px;
  }
}

.fire-exits{
width:15px;
height:15px;
background: #202020;
}


.confirm-modal{
p{
//font-size:1.4em;
&.booth-type-holder{
  //font-size: 1.6em;
}
}
}

.checkbox{
  &-holder{
    margin-bottom:15px;
    label{
      //font-size: 20px;
    }

    .regular-checkbox:checked + label:after{
      font-size: 14px;
    }

    .regular-checkbox + label{
      &:after,&:before{
        display: none;
      }
      .checkbox-text{
        &:before{
          content: "";
          background-color: #fafafa;
          border: 2px solid #28a745;
          box-shadow: 0 1px 2px rgb(0 0 0 / 5%), inset 0px -15px 10px -12px rgb(0 0 0 / 5%);
          padding: 0.6em;
          border-radius: 3px;
          display: inline-block;
          position: relative;
          margin-right: 10px;
          font-size: 20px;
          line-height: 1.4;
          top: 6px;
        }
      }
    }

    .regular-checkbox:checked + label{
      .checkbox-text{
        position: relative;
        &:before{
          background-color: #28a745;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
          color: #99a1a7;
        }
        &:after{
          content: "✔";
          font-size: 18px;
          position: absolute;
          top: 12px;
          left: 8px;
          color: #ffffff;
          line-height: 1;
        }
      }
    }

    @media (min-width:768px){
      label{
        font-size:20px;
      }
    }
  }

  &-wrapper{
    //margin-bottom:20px;

    padding: 10px;
    //border: 1px solid #ddd;
    border-radius: 12px;
    margin-top: 10px;
    //box-shadow: inset 0 0 15px #00000014;
    //background: #fff;
  }
}

.modal{
  &-dialog{
    &.modal{
      &-lg{
        @media (min-width:992px){
          max-width:650px;
        }
      }
    }
  }
}


.booth{
  &-info{
    p{
      margin-bottom:10px;
      font-size: 16px;
      display: flex;
      align-items: flex-start;
      img{
        //margin-right:6px;
        max-height: 18px;
        position: relative;
        top:3px;
      }
    }
  }

  &-image{
    img{
      border: 1px solid #ddd;
      border-radius: 15px;
      box-shadow: 0px 6px 10px #00000029;
      max-width: calc(100% - 30px);
      margin: 15px 0;
    }
  }

  &-color-title{
    font-size: 16px;
    padding: 8px 6px 0 6px;
  }

  @media (min-width:768px){
    &-info{
      p{
        font-size: 18px;
      }
    }
    &-color-title{
      font-size: 22px;
      padding: 0;
    }
  }
}

.terms-wrapper{

}
.footer{
  margin-top:50px;
}
.thank-wrapper{
  display: none;
}

.go-down{
  position: fixed;
  bottom: 0;
  right: 0;
  background: #fff;
  border: 2px solid;
  border-radius: 30px;
  font-size: 14px;
  padding: 2px 4px 2px 10px;
  cursor: pointer;
  transition: 0.1s all linear;
  display: none;
  .image{
    &-white{
      display: none;
    }
    &-black{

    }
  }
  img{
    max-height:26px;
  }

  @media (min-width:768px){
    right: 61px;
    font-size: 16px;
    padding: 5px 5px 5px 11px;
    img{
      max-height:32px;
    }
  }

  &:hover{
    background-color: #202020;
    color:#fff;
    border-color:#fff;
    box-shadow:0 0 4px rgba(0, 0, 0, 0.29);
    transition: 0.1s all linear;
    .image{
      &-white{
        display: inline-block;
      }
      &-black{
        display: none;
      }
    }
  }
}

.terms-wrapper{
  .regular-checkbox + label{
    color:#28a745;
  }

  .checkbox{
    &-holder{
      margin-bottom:15px;
      label{
        font-size: 20px;
      }

      .regular-checkbox:checked + label:after{
        font-size: 14px;
      }

      .regular-checkbox + label{
        &:after,&:before{
          display: none;
        }
        .checkbox-text{
          &:before{
            content: "";
            background-color: #fafafa;
            border: 2px solid #28a745;
            box-shadow: 0 1px 2px rgb(0 0 0 / 5%), inset 0px -15px 10px -12px rgb(0 0 0 / 5%);
            padding: 0.6em;
            border-radius: 3px;
            display: inline-block;
            position: relative;
            margin-right: 10px;
            font-size: 20px;
            line-height: 1.4;
            top: 6px;
          }
        }
      }

      .regular-checkbox:checked + label{
        .checkbox-text{
          position: relative;
          &:before{
            background-color: #28a745;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
            color: #99a1a7;
          }
          &:after{
            content: "✔";
            font-size: 18px;
            position: absolute;
            top: 12px;
            left: 8px;
            color: #ffffff;
            line-height: 1;
          }
        }
      }

      @media (min-width:768px){
        label{
          font-size:20px;
        }
      }
    }

    &-wrapper{
      //margin-bottom:20px;

      padding: 10px;
      //border: 1px solid #ddd;
      border-radius: 12px;
      margin-top: 10px;
      //box-shadow: inset 0 0 15px #00000014;
      //background: #fff;
    }
  }
}