$color_sponsorship_aisle:#c42090;
$color_sponsorship_aisle_dark:#631049;

$color_prime_a:#73D39E;
$color_prime_a_dark:#2D8E58;

$color_prime_b:#fabf8e;
$color_prime_b_dark:#D76609;

$color_prime_c:#6fcaf2;
$color_prime_c_dark:#1186B8;

$color_standard:#f8f49c;
$color_standard:#f8f49c;


.main{
  &.style-2{
    background: #fff;

    .main-wrapper{
      padding:0;
    }

    .header{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background: transparent;
      border:0;

      &:before{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        content: "";
      background: linear-gradient(180deg, rgb(0 0 0 / 97%) 0%, rgba(0, 128, 128, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#008080', GradientType=0);
        z-index: 1;
        height: 200%;
      }

      &-wrapper{
        position: relative;
        z-index: 999;
      }

      .nav-link{
        color:#fff;
      }
    }

    .main-banner{
      position: relative;
      padding-bottom:0;
      max-height:450px;
      overflow: hidden;
      img{
        width:100%;
      }
      &-content{
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: flex-end;

        &-wrapper{
          color: #fff;
          font-size: 20px;
          text-shadow: 2px 2px #00000075;
          padding-bottom: 20px;
          background: #000000a6;
          padding-top: 20px;
          width:100%;
        }

        .banner-title{
          font-size: 2em;
          text-transform: uppercase;
          font-weight:700;
          color:#fff;
          text-shadow:2px 2px rgba(0, 0, 0, 0.31);
        }

        p{
          margin-bottom:6px;
        }
      }
    }

    .form{
      &-row{
        &-booth{
          @media (min-width:768px){
            padding:0 50px;
          }
        }
      }
    }


    .ticket{
      &-map{
        overflow: auto;
        position: relative;

        .btn{
          border: 1px solid #202020;
          padding: 0.6em;
          border-radius: 0;
          //border-bottom: 0;
          font-size: 0.8em;
          z-index: 9;
          position: relative;
          padding: 0;
          //width: 3em;
          //height: 3em;
          width:40px;
          height:40px;
        }

        .btn-gap{
          width: 40px;
          display: inline-block;
          //height: 3em;
        }

        &-left{
          //margin:0 auto;
          padding-left:100px;
        }

        &-right{
          .btn{
            &-holder{
              .fire-exits{
                position: absolute;
                top:6px;
                left:-10px;
                &.after-11th-row{
                  top:4px;
                }
                &.bottom-row{
                  top:unset;
                  bottom:-14px;
                }
              }

              .row-1{
                padding-bottom:15px;
              }
            }
          }


        }

        &-row{
          display: flex;
          flex-wrap:wrap;
          align-items: flex-end;
          &-wrapper{
            //width:2400px;
            min-width: 2600px;
            padding:30px 30px;
            display: flex;
            align-items: flex-end;
          }

          &.ground{

          }

          &.empty{
            height:2.2em;
          }

          .btn{
            border-right:0;
            &.on-edge{
              border-right:1px solid #202020;
            }
          }
        }

        &-column{
          //flex:1;
          padding-left:20px;
          padding-right:20px;
          display: flex;
          position: relative;

          &-col{
            .btn-holder{
              &:last-child{
                .btn{
                  border-bottom:1px solid #202020;
                }
              }
            }

            &:first-child{
              .btn-holder{
                .btn{
                  border-right:0;
                }
              }

            }
          }

          .utility-block{
            width: 1em;
            height: 0.6em;
            background: #202020;
            display: inline-block;
            position: absolute;
            bottom:1.2em;
            left:50%;
            transform:translateX(-50%);
            &-2{
              bottom:7.8em;
            }
            &-3{
              bottom:14.2em;
            }
          }

          &.with-utility{
            .ticket-map-column-col{
              &:not(:last-child){
                margin-right:10px;
              }

              &:first-child{
                border-right:1px solid #202020;
              }
            }
          }
        }
      }
    }

    .btn{
      &-holder{
        position: relative;
        .fire-exits{
          position: absolute;
          top:0;
          left:-10px;
          &.after-11th-row{
            top:4px;
          }
          &.bottom-row{
            top:unset;
            bottom:-14px;
          }
        }
      }

    }

    @media (min-width:768px){
      .main-wrapper{
        padding:0;

      }
      .confirm-modal{
        .btn{
          padding:16px 30px;
        }
      }

    }
  }
}

.btn{
  &-prime{
    &-a{
      background: #73D39E;
      color:#202020;
      &.booth-selected{
        background: #2D8E58;
        color:#fff;
      }
      &:active,&:focus{
        background: #2D8E58;
        color:#fff;
      }
    }
    &-b{
      background: #fabf8e;
      color:#202020;
      &.booth-selected,&:active,&:focus{
        background: #D76609;
        color:#fff;
      }
    }
    &-c{
      background:#6fcaf2;
      color:#202020;
      &.booth-selected,&:active,&:focus{
        background: #1186B8;
        color:#fff;
      }
    }
  }
  &-standard{
    background: #f8f49c;
    color:#202020;

    &.booth-selected,&:active,&:focus{
      background: #878009;
      color:#fff;
    }
  }
  &-sponsorship-aisle{
    background: #c42090;
    color:#fff;
    &.booth-selected,&:active,&:focus{
      background: #631049;
      color:#fff;
    }
  }

  &-gap{
    color:transparent;
    background: transparent;
    border:none;
    box-shadow:none;
    visibility: hidden;
  }
}

.column-gap{
  width:10px;
  display: inline-block;
  visibility: hidden;
}

.ticket-column-gap{
  width:80px;
}


.after-booth-selection{
  display: none;
}

.btn.btn-change-booth{
  background: transparent;
  border:0;
  padding:0;
  font-weight: 600;
  box-shadow:none;
  text-decoration: underline;
}

.booth{
  &-type{
    &-holder{
      border-bottom: 1px solid #ddd;
      padding-bottom: 15px;
      margin-bottom: 20px;
    }
  }

  &-number{
    span{
      font-size: 1.3em;
      padding: 13px 35px;
      border: 1px solid #202020;
      line-height: 1;
      display: inline-block;
    }

  }

  &-name{
    .btn{
      padding: 2px 30px;
      border-radius: 0;
      box-shadow: none;
      border: 1px solid #202020;
    }
  }

  &-holder{
    span{
      font-size: 1.3em;
      padding: 13px 35px;
      border: 1px solid #202020;
      line-height: 1;
      display: inline-block;
    }
  }

  &-color{
    position: absolute;
    top: 10px;
    left: 15px;
    background: #fff;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid #8b8b8b;
    &-title{

    }
    &-row{
      .table{
        max-width:400px;
        td,th{
          font-size: 15px;
          line-height: 1;
          vertical-align: middle;
          padding: 5px 5px 11px;
        }
      }
    }
  }

  &-details{
    .booth-type-holder{
      border-bottom: 0;
      padding-bottom: 0;
      margin-bottom: 0;
    }

  }
}

.color-box{
display: inline-block;
width: 20px;
height: 20px;
border: 1px solid #202020;
position: relative;
top: 4px;
&.sponsorship-aisle{
background-color: $color_sponsorship_aisle;
}
&.prime-a{
background-color: $color_prime_a;
}
&.prime-b{
background-color: $color_prime_b;
}
&.prime-c{
background-color: $color_prime_c;
}
&.standard{
background-color: $color_standard;
}
}

.fire-exits{
width:15px;
height:15px;
background: #202020;
}


.confirm-modal{
p{
font-size:1.4em;
&.booth-type-holder{
  font-size: 1.6em;
}
}
}