.btn{
  padding:18px 30px;
  min-width:220px;
  box-shadow:0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  font-size:18px;
  text-transform: uppercase;
  font-weight:500;
  &-block{
    display: block;
    width:100%;
  }
  &-next{
    padding-top:16px;
    padding-bottom:16px;
  }

  &-pay{
    padding-top:16px;
    padding-bottom:16px;
    img{
      margin-right: 5px;
      max-width: 20px;
      position: relative;
      top: -3px;
    }
  }

  &-paypal{
    width:100%;
    padding:15px 15px;
    background-color: #ffc439;
    color:#202020;
    font-size:18px;
    img{
      padding-left:5px;
    }

    &:hover{
      background-color:#F4AB00;
    }
  }

  &-primary{
    background-color: $green_primary;
    color:#fff;
    border-color:$green_primary;
    &:hover{
      background-color: $green_dark;
      border-color: $green_dark;
      color:#fff;
    }
  }

}

