.cart{
  &-table{
    &-row{

    }
    &-column{

    }

    .table{
      width:550px;
      max-width:none;
      td,th{
        vertical-align: middle;
      }
      tr{
        td{
          &:first-child{
            width:20%;
          }
        }
      }
      @media(min-width:768px){
        width:100%;
        max-width:100%;

        tr{
          td{
            &:first-child{
              width:auto;
            }
          }
        }
      }
    }
  }
}

.quantity{
  &-wrap{
    .input{
      &-group{
        &-text{
          font-size: 30px;
          line-height: 1;
          padding: 0 15px;
          cursor: pointer;
        }

        .form-control{
          max-width: 70px;
          border-color: #ced4da;
          text-align: center;
          &:focus{
            outline:5px auto -webkit-focus-ring-color;
            box-shadow:none;
          }
        }
      }
    }
  }
}