.required-mark{
  color:$red_primary;
}

.form{
  &-group{
    //padding-bottom:20px;
    padding-bottom:30px;
    margin-bottom:0;
    &.last{
      margin:0;
    }

    .mm-yy{
      .form-control{
        display: inline-block;
        width:65px;
        &:not(:last-child){
          margin-right:10px;
        }

        @media (min-width:768px){
          width:90px;
        }
      }
    }

    &.field-invalid{
      //color:#dc3545;
      .form-control{
        border-color:#dc3545;
      }
    }

  }
  &-control{
    line-height: 2rem;
    border: 0.15rem solid #8B8B8B;
    border-radius: 8px;

    &-label{
      font-size:18px;
      font-weight:500;
      margin-bottom:3px;
    }

    @media (min-width:768px){
      line-height: 2.2rem;
    }
  }

}

select.form-control:not([size]):not([multiple]){
  height:54px;
  position: relative;
  //background: transparent;
  z-index: 99;
  //-webkit-appearance: none;
}

.select-wrapper{
  position: relative;
  background-color: #fff;
  border-radius:8px;
  overflow: hidden;
  .drop-down-arrow{
    width: 50px;
    height: 100%;
    background-color: #d8d8d8;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid #AAAAAA;
  }
}

input{
  &[type=number]{
    -webkit-appearance: none;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.error-message{
  position: absolute;
}