.header{
  border-bottom:1px solid #ddd;
  //margin-left:-15px;
  background-color: #fff;
  padding:10px 0;
  .logo-wrapper{
    img{
      height:auto;
      max-width:128px;
      max-height:65px;
      @media (min-width:768px){
        //height:55px;
        max-height:90px;
        max-width:250px;
      }
    }

    &.white{
      a{
        @media (min-width:768px){
          background-color: #fff;
          display: inline-block;
          padding:10px;
          border-radius: 12px;
        }
      }
    }
  }

  .nav{
    justify-content: flex-end;
    align-items: center;
    &-link{
      color:#202020;
      padding-left:5px;
      padding-right:5px;
      @media (min-width:768px){
        padding-left:20px;
        padding-right:20px;
      }

      &:hover{
        color:$green_primary;
        text-decoration: underline;
      }
      img{
        max-width:100px;
        @media (min-width:768px){
          max-width:180px;
        }
      }
    }
  }

  &.style-new{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: transparent;
    border: 0;
    z-index: 999;
    &:before{
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.97) 0%, rgba(0, 128, 128, 0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#008080", GradientType=0);
      z-index: 1;
      //height: 200%;
      //display: none;
    }


    .nav-link{
      color: #fff;
    }

    .header{

      &-wrapper{
        position: relative;
        z-index: 999;
      }

    }

    &.no-infobar{
      position: relative;
    }

    @media (min-width:768px){
      &.no-infobar{
        position: absolute;
      }
    }
  }
}

.head-main{
  text-align: center;
  padding-bottom:20px;
  .title{
    &-main{
      font-size:30px;
      font-weight: 800;
      letter-spacing: 1px;
      margin-bottom: 10px;
      text-transform: uppercase;
      @media (min-width:768px) {
        font-size:32px;
      }
    }
  }
  .icon-wrapper{
    position: relative;
    &:after{
      content:'';
      width:100%;
      height:1px;
      position: absolute;
      left:0;
      right:0;
      top:57%;
      transform:translateY(-50%);
      background-color: $red_primary;
    }
    &:before{
      position: absolute;
      width:80px;
      content:'';
      top:50%;
      left:50%;
      background-color: #fff;
      height:30px;
      z-index: 9;
      transform:translate(-50%,-50%);
    }
    img{
      max-width:60px;
      position: relative;
      z-index: 99;
    }
  }
}


.icon-secure{
  max-height: 40px;
  @media (min-width:768px){
    max-height: 45px;
  }
}

.sectigo-logo{
  img{
    max-height: 40px;
    @media (min-width:768px){
      max-height: 45px;
    }
  }
}

.logo-powered-ms{
  &-wrapper{
    .img-logo-powered-ms{
      max-height:35px;
      @media (min-width:768px){
        max-height:55px;
      }
    }

    &.v2{
      border: 2px solid #202020;
      border-radius: 8px;
      overflow: hidden;
      .logo-powered-ms{
        height: 40px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
      }
      .sectigo-logo{
        height: 40px;
        width: 45px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background: #202020;
        img{
          max-height:30px;
        }
      }
    }

    @media (min-width:768px){
      &.v2{
        border-radius: 15px;
        .logo-powered-ms{
          height: 50px;
        }
        .sectigo-logo{
          height: 50px;
          width: 50px;
          img{
            max-height:35px;
          }
        }
      }
    }
  }
}

.main{
  &.logo-black{
    .header{
      &.style-new{
        &:before{
          background: linear-gradient(180deg, rgba(255, 255, 255, 0.97) 0%, rgba(0, 128, 128, 0) 100%);
        }
      }
    }
  }

  &.logo-white{
    .logo-power-by-ms{
      background-color: #fff;
      border-radius: 5px;
    }
  }
}