.card-info-area .card-image {
  padding: 15px 0;
}

.card-info-area .card-image img {
  height: 30px;
  margin-right: 5px;
}
/*payment info*/
.card-info-area {
  background: #d1f6e5;
  padding: 20px;
  border-radius: 10px;
}

.card-info-area .row.no-gutters .col-sm-6:first-child {
  padding-right: 8px;
}

.card-info-area .row.no-gutters .col-sm-6:last-child {
  padding-left: 8px;
}

.card-info-area .form-control {
  background-color: transparent;
  border-color: rgba(32, 32, 32, 0.6);
}

.card-info-area .form-control:focus {
  background-color: #fff;
}

.cc{
  &-number{
    &-holder{
      position: relative;
    }
  }
  &-card{
    &-identity{
      position: absolute;
      top: 50%;
      right: 6px;
      transform: translateY(-50%);
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        max-height:70%;
      }
      @media (min-width:768px){

      }
    }
  }
}