.sidebar{
  margin-top:25px;

  &-block{
    background-color: $grey_secondary;
    border-radius:15px;
    box-shadow:0 4px 4px 0 rgba(0, 0, 0, 0.25);
    margin-bottom:30px;

    &-title{
      font-size:20px;
      font-weight:600;
      text-transform: uppercase;
      color:#000;
      line-height: 30px;
      border-bottom: 1px solid #979595;
      padding:10px 15px;
    }

    &-description{
      padding:20px 15px;
    }

    .sponsor{
      &-image{
        padding-bottom:6px;
        text-align: center;
        img{
          border-radius:50%;
          width:120px;
          height: 120px;
        }
      }

      &-name{
        font-weight:600;
        font-size:20px;
        text-align: center;
      }
      &-email{
        font-weight:500;
        font-size: 18px;
        text-align: center;
      }
    }

    .list{
      padding:0;
      list-style: none;
      li{
        font-size: 16px;
        margin-bottom: 5px;
      }
    }


    &-ticket{
      &-summary{
        .sidebar{
          &-block{
            &-title{
              margin:0;
              //border-bottom:4px solid #359660ba;
            }
            &-description{
              padding:0;
              border-radius: 15px;
              overflow: hidden;
              .table{
                margin:0;
                td,th{
                  padding-left:20px;
                  padding-right:20px;

                  .row-number{
                    padding-right:5px;

                  }
                }
                thead{
                  td,th{
                    font-weight: 600;
                    border-bottom:2px solid #359660ba;
                    text-transform: uppercase;
                    font-size:15px;
                  }
                }
                tbody{
                  tr{
                    &:nth-of-type(odd){
                      background: #fff;
                    }
                  }
                  th{
                    font-weight: 600;
                  }
                }
                tfoot{
                  tr{
                    background-color: #d4edda;
                    text-transform: uppercase;
                    color:#202020;
                    font-weight: 600;
                  }
                  th{
                    //color:#28a745;
                    font-weight: 600;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}


.ticket-summary-table{
  th{
    text-align: right;
  }

  tfoot{
    font-size: 18px;
  }
  th,td{
    min-width:115px;
  }
}
