$red_primary:#E83908;
$green_primary:#1D9854;
$green_dark:#198248;
$blue_primary:#007bff;
$blue_primary_dark:#084298;
$black: #000000;
$black_border: #5e5a5a9e;
$black_hover_bg: #918e8e2b;

$red_border: #de7781;
$red_hover_bg: #f2aeba45;

$blue_border: #8fb6ed;

$grey:#E5E5E5;
$grey_secondary: rgba(180, 173, 173, 0.15);