@charset "UTF-8";
p {
  line-height: 32px;
}

ul li {
  line-height: 32px;
  margin-bottom: 10px;
}

.main.style-2 {
  background: #fff;
}
.main.style-2 .main-wrapper {
  padding: 0;
  margin-bottom: 0;
}
.main.style-2 .header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: transparent;
  border: 0;
}
.main.style-2 .header:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.97) 0%, rgba(0, 128, 128, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#008080", GradientType=0);
  z-index: 1;
  height: 200%;
}
.main.style-2 .header-wrapper {
  position: relative;
  z-index: 999;
}
.main.style-2 .header .nav-link {
  color: #fff;
}
.main.style-2 .main-banner {
  position: relative;
  padding-bottom: 0;
  max-height: 450px;
  overflow: hidden;
}
.main.style-2 .main-banner img {
  width: 100%;
}
.main.style-2 .main-banner-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: flex-end;
}
.main.style-2 .main-banner-content-wrapper {
  color: #fff;
  font-size: 20px;
  text-shadow: 2px 2px #00000075;
  padding-bottom: 20px;
  background: #000000a6;
  padding-top: 20px;
  width: 100%;
}
.main.style-2 .main-banner-content .banner-title {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.31);
}
.main.style-2 .main-banner-content p {
  margin-bottom: 6px;
}
@media (min-width: 768px) {
  .main.style-2 .form-row-booth {
    padding: 0 50px;
  }
}
.main.style-2 .form-row-terms {
  padding: 0 20px;
}
.main.style-2 .form-row-terms .form-fields-wrapper {
  max-height: 300px;
  overflow: auto;
}
.main.style-2 .form-row-terms.active .form-fields-wrapper {
  max-height: none;
  overflow: auto;
}
@media (min-width: 1200px) {
  .main.style-2 .form-row-terms {
    padding: 0 50px;
  }
  .main.style-2 .form-row-terms .form-fields-wrapper {
    max-width: 1000px;
    margin: 0 auto;
  }
  .main.style-2 .form-row-terms .form-row-foot .checkbox-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    background-color: transparent;
    padding: 0;
    border: 0;
  }
}
.main.style-2 .form-row-head-inner {
  display: block;
}
.main.style-2 .ticket-map {
  position: relative;
  overflow: auto;
}
.main.style-2 .ticket-map .btn {
  border: 1px solid #202020;
  padding: 0.6em;
  border-radius: 0;
  font-size: 0.8em;
  z-index: 9;
  position: relative;
  padding: 0;
  width: 40px;
  height: 40px;
}
.main.style-2 .ticket-map .btn-gap {
  width: 40px;
  display: inline-block;
}
.main.style-2 .ticket-map-left {
  padding-left: 0;
}
.main.style-2 .ticket-map-right .btn-holder .fire-exits {
  position: absolute;
  top: 6px;
  left: -10px;
}
.main.style-2 .ticket-map-right .btn-holder .fire-exits.after-11th-row {
  top: 4px;
}
.main.style-2 .ticket-map-right .btn-holder .fire-exits.bottom-row {
  top: unset;
  bottom: -14px;
}
.main.style-2 .ticket-map-right .btn-holder .row-1 {
  padding-bottom: 15px;
}
.main.style-2 .ticket-map-row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}
.main.style-2 .ticket-map-row-wrapper {
  min-width: 2600px;
  padding: 45px 30px 30px;
  display: flex;
  align-items: flex-end;
  cursor: e-resize;
}
.main.style-2 .ticket-map-row.empty {
  height: 2.2em;
}
.main.style-2 .ticket-map-row .btn {
  border-right: 0;
}
.main.style-2 .ticket-map-row .btn.on-edge {
  border-right: 1px solid #202020;
}
.main.style-2 .ticket-map-column {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  position: relative;
}
.main.style-2 .ticket-map-column-col .btn-holder:last-child .btn {
  border-bottom: 1px solid #202020;
}
.main.style-2 .ticket-map-column-col:first-child .btn-holder .btn {
  border-right: 0;
}
.main.style-2 .ticket-map-column .utility-block {
  width: 1em;
  height: 0.6em;
  background: #202020;
  display: inline-block;
  position: absolute;
  bottom: 1.2em;
  left: 50%;
  transform: translateX(-50%);
}
.main.style-2 .ticket-map-column .utility-block-2 {
  bottom: 7.8em;
}
.main.style-2 .ticket-map-column .utility-block-3 {
  bottom: 14.2em;
}
.main.style-2 .ticket-map-column.with-utility .ticket-map-column-col:not(:last-child) {
  margin-right: 10px;
}
.main.style-2 .ticket-map-column.with-utility .ticket-map-column-col:first-child {
  border-right: 1px solid #202020;
}
@media (min-width: 1200px) {
  .main.style-2 .ticket-map {
    overflow: hidden;
  }
  .main.style-2 .ticket-map-left {
    padding-left: 100px;
  }
}
.main.style-2 .btn-holder {
  position: relative;
}
.main.style-2 .btn-holder .fire-exits {
  position: absolute;
  top: 0;
  left: -10px;
}
.main.style-2 .btn-holder .fire-exits.after-11th-row {
  top: 4px;
}
.main.style-2 .btn-holder .fire-exits.bottom-row {
  top: unset;
  bottom: -14px;
}
@media (min-width: 768px) {
  .main.style-2 .main-wrapper {
    padding: 0;
  }
  .main.style-2 .confirm-modal .btn {
    padding: 16px 30px;
  }
}

.btn-prime-a {
  background: #73D39E;
  color: #202020;
}
.btn-prime-a:active, .btn-prime-a:focus {
  background: #2D8E58;
  color: #fff;
}
.btn-prime-b {
  background: #fabf8e;
  color: #202020;
}
.btn-prime-c {
  background: #6fcaf2;
  color: #202020;
}
.btn-standard {
  background: #f8f49c;
  color: #202020;
}
.btn-sponsorship-aisle {
  background: #c42090;
  color: #fff;
}
.btn.booth-selected {
  background: #d02d3d;
  color: #fff;
  box-shadow: inset 0 0 4px #6b2f34;
  cursor: not-allowed;
  position: relative;
}
.btn.booth-selected:after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #4caf50;
  position: absolute;
  top: 2px;
  right: 2px;
}
.btn.sold-out {
  background: #808080;
  opacity: 0.8;
  color: #e7e7e7;
  box-shadow: inset 0 0 4px #6b2f34;
  cursor: not-allowed;
  position: relative;
}
.btn.sold-out:after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #c92115;
  position: absolute;
  top: 2px;
  right: 2px;
}
.btn-gap {
  color: transparent;
  background: transparent;
  border: none;
  box-shadow: none;
  visibility: hidden;
}

.column-gap {
  width: 10px;
  display: inline-block;
  visibility: hidden;
}

.ticket-column-gap {
  width: 80px;
}

.after-booth-selection {
  display: none;
}

.btn.btn-change-booth {
  background: transparent;
  border: 0;
  padding: 0;
  font-weight: 600;
  box-shadow: none;
  text-decoration: underline;
}

.booth-type-holder {
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
  margin-bottom: 20px;
}
.booth-number span {
  font-size: 1.3em;
  padding: 13px 35px;
  border: 1px solid #202020;
  line-height: 1;
  display: inline-block;
}
.booth-name .btn {
  padding: 2px 30px;
  border-radius: 0;
  box-shadow: none;
  border: 1px solid #202020;
}
.booth-holder span {
  font-size: 1.3em;
  padding: 13px 35px;
  border: 1px solid #202020;
  line-height: 1;
  display: inline-block;
}
.booth-color {
  position: absolute;
  top: 10px;
  left: 15px;
  background: #fff;
  padding: 0px;
  border-radius: 12px;
  border: 1px solid #8b8b8b;
}
.booth-color-row .table td, .booth-color-row .table th {
  font-size: 13px;
  line-height: 1;
  vertical-align: middle;
  padding: 5px 5px 11px;
}
@media (min-width: 768px) {
  .booth-color-row .table td, .booth-color-row .table th {
    font-size: 15px;
  }
}
@media (min-width: 768px) {
  .booth-color {
    padding: 10px;
  }
}
.booth-details .booth-type-holder {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.color-box {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #202020;
  position: relative;
  top: 2px;
}
.color-box.sponsorship-aisle {
  background-color: #c42090;
}
.color-box.prime-a {
  background-color: #73D39E;
}
.color-box.prime-b {
  background-color: #fabf8e;
}
.color-box.prime-c {
  background-color: #6fcaf2;
}
.color-box.standard {
  background-color: #f8f49c;
}
.color-box.reserved {
  background-color: #d02d3d;
}
.color-box.booked {
  background-color: #808080;
}
@media (min-width: 768px) {
  .color-box {
    top: 4px;
    width: 20px;
    height: 20px;
  }
}

.fire-exits {
  width: 15px;
  height: 15px;
  background: #202020;
}

.checkbox-holder {
  margin-bottom: 15px;
}
.checkbox-holder .regular-checkbox:checked + label:after {
  font-size: 14px;
}
.checkbox-holder .regular-checkbox + label:after, .checkbox-holder .regular-checkbox + label:before {
  display: none;
}
.checkbox-holder .regular-checkbox + label .checkbox-text:before {
  content: "";
  background-color: #fafafa;
  border: 2px solid #202020;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 0.6em;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  font-size: 15px;
  line-height: 1.4;
  top: 5px;
}
.checkbox-holder .regular-checkbox:checked + label .checkbox-text {
  position: relative;
}
.checkbox-holder .regular-checkbox:checked + label .checkbox-text:before {
  background-color: #e9ecee;
  background-color: #202020;
  border: 2px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  color: #99a1a7;
}
.checkbox-holder .regular-checkbox:checked + label .checkbox-text:after {
  content: "✔";
  font-size: 12px;
  position: absolute;
  top: 10px;
  left: 7px;
  color: #99a1a7;
  color: #ffffff;
  line-height: 1;
}
@media (min-width: 768px) {
  .checkbox-holder label {
    font-size: 17px;
  }
}
.checkbox-wrapper {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 12px;
  margin-top: 10px;
  background: #fff;
}

@media (min-width: 992px) {
  .modal-dialog.modal-lg {
    max-width: 650px;
  }
}

.booth-info p {
  margin-bottom: 10px;
  font-size: 16px;
  display: flex;
  align-items: flex-start;
}
.booth-info p img {
  max-height: 18px;
  position: relative;
  top: 3px;
}
.booth-image img {
  border: 1px solid #ddd;
  border-radius: 15px;
  box-shadow: 0px 6px 10px #00000029;
  max-width: calc(100% - 30px);
  margin: 15px 0;
}
.booth-color-title {
  font-size: 16px;
  padding: 8px 6px 0 6px;
}
@media (min-width: 768px) {
  .booth-info p {
    font-size: 18px;
  }
  .booth-color-title {
    font-size: 22px;
    padding: 0;
  }
}

.footer {
  margin-top: 50px;
}

.thank-wrapper {
  display: none;
}

/*# sourceMappingURL=booth_layout.css.map */
